<template name="dashboard"><!--i should call this dashnav-->
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/dashboard/table" class="breadcrumb">Task table</a>
        <a href="/dashboard/managers" class="breadcrumb">Manage Managers</a>
        <a href="/dashboard/clients" class="breadcrumb">Manage Clients</a>
<span style="padding-right: 200px;" class="right">{{> loginButtons}}</span>
      </div>
    </div>
  </nav>
</template>

<template name="table">

{{> dashboard}}

{{#if isAllowed currentUser.username}}
      <table class="highlight centered"><!--striped responsive-table-->
        <thead>
          <tr>
              <th>ID</th>
              <th>Client</th>
              <th>Type</th>
              <th>Service Location</th>
              <th>Status</th>
          </tr>
        </thead>
        <tbody>
{{#each task}}
          <tr>
            <td>{{taskidnumber}}</td> 
            <td>{{company}}</td>    
            <td>{{type}}</td>
            <td>{{location}}</td>
            <td>{{status}}</td>
	    <td><a id={{_id}} class="waves-effect waves-light btn view">view</a></td>
          </tr>
{{/each}}
        </tbody>
      </table>
{{/if}}
</template>

<template name="client">

{{> dashboard}}

{{#if isAllowed currentUser.username}}
      <table class="highlight centered"><!--striped responsive-table-->
        <thead>
          <tr>
              <th>Company</th>
              <th>Address</th>
              <th>Contact</th>
          </tr>
        </thead>
        <tbody>
{{#each task}}
          <tr>
            <td>{{company}}</td>    
            <td>{{location}}</td>
            <td>{{contact}}</td>
	    <td><a id={{_id}} class="waves-effect waves-light btn view">view</a></td>
          </tr>
{{/each}}
        </tbody>
      </table>
{{/if}}
</template>

<template name="managers">
{{> dashboard}}
{{#if isAllowed currentUser.username}}

<h2>Create</h2>
<form class="createManager">
      <div class="row">
        <div class="input-field col s6">
          <input id="userNameInput" type="text">
          <label for="userNameInput">User Name</label>
        </div>
        <div class="input-field col s6">
          <input id="passwordInput" type="text">
          <label for="password">Password</label>
        </div>
  <button class="btn waves-effect waves-light" type="submit" id="createUser" onclick="Materialize.toast('User Created', 3000)">
Create</button></div>
</form>
<br>
<h2>Remove</h2>
<form class="deleteManager">
      <div class="row">
    <select id="fired" class="browser-default">
      <option value="">Select Manager</option>
{{#each manager}}
      <option value="{{_id}}">{{username}}</option>
{{/each}}
    </select>
  <button class="btn waves-effect waves-light inline" type="submit" name="delete">Delete</button></div>
</form>
{{/if}}
</template>

<template name="clients">
{{> dashboard}}
{{#if isAllowed currentUser.username}}
<h2>New Client</h2>
<form class="createClient">
      <div class="row">
        <div class="input-field col s6">
          <input id="clientNameInput" type="text">
          <label for="clientNameInput">Client Name</label>
        </div>
  <button class="btn waves-effect waves-light" type="submit" id="createClient" onclick="Materialize.toast('Client Created', 3000)">
Create</button></div>
</form>
<br>
<h2>Remove</h2>
<form class="deleteClient">
      <div class="row">
    <select id="fired" class="browser-default">
      <option value="">Select Client</option>
{{#each client}}
      <option value="{{_id}}">{{name}}</option>
{{/each}}
    </select>
  <button class="btn waves-effect waves-light inline" type="submit" name="delete">Delete</button></div>
</form>
{{/if}}
</template>
