<Template name="home">

        <nav class="center-align inline">

<span class="left" style="padding-right: 20px; padding-left: 10px;">{{> loginButtons}}</span>

<span class="left">
    <select multiple id="filter">
      <option disabled value="">Filter</option>
      <option value="Open">Open</option>
      <option value="Scheduled">Scheduled</option>
      <option value="Completed">Completed</option>
      <option disabled="{{disabled currentUser.username}}" value="Canceled">Canceled</option>
      <option disabled="{{disabled currentUser.username}}" value="Closed">Closed</option>
    </select>
</span>
  <a class="btn-floating btn-large waves-effect waves-light right red" id="new"><i class="material-icons">create_new_folder</i></a>
	</nav>


<ul class="collection">
{{#each yourTasks currentUser.username}}

    <li id="{{icon type}}{{_id}}" class="collection-item avatar">
      <i class="material-icons {{icon.color}} circle">{{icon.image}}</i>
      <span class="title">{{date}}</span>
      <p>{{location}} <br>
         {{contact}}
      </p><span style="color: white;" class="badge {{statusColor status}} secondary-content">{{status}}</span>
    </li>
{{/each}}
</ul>
</Template>
