<head>
  <title>manager</title>
  <link rel='icon' href='/favicon.ico'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

                    <!--this is the test area-->
<template name="autocomplete">
<p id="yehuda"></p>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Autocomplete</label>
        </div>
      </div>
    </div>
  </div>
</template>
<!---->
<template name="translate">
<div id="translater"><input type="text" id="textinput"><p id="english"></p></div>
</template>

<!------*********************------->
<template name="info">

<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
<!--</div>-->
<ul class="collection">
    <li class="collection-item avatar"><div id="test">
      <i class="material-icons circle">folder</i>
      <span class="title">Due 01/09/18</span>
      <p>2482 Dufferin <br>
         Second Line
      </p><span style="color: white;" class="badge red secondary-content">OPEN</span><!--this is good-->
    </div></li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">store</i>
      <span class="title">Title</span>
      <p class="inline">First Line <br>
         Contact Info
      </p><span style="color: white;" class="badge blue secondary-content">CANCELED</span>

    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">domain</i>
      <span class="title">Title</span>
      <p class="inline">First Line <br>
         Second Line
      </p><span style="color: white;" class="badge blue secondary-content">CANCELED</span>

    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle blue">content_cut</i>
      <span class="title">Title</span>
      <p class="inline">First Line <br>
         Second Line
      </p><span style="color: white;" class="badge green secondary-content">SCHEDULED</span>

    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle orange">build</i>
      <span class="title">Title</span>
      <p class="inline">First Line <br>
         Second Line
      </p><span style="color: white;" class="badge red secondary-content">OPEN</span>

    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle purple">delete_sweep</i>
      <span class="title">Title</span>
      <p class="inline">First Line <br>
         Second Line
      </p><span style="color: white;" class="badge blue secondary-content">CANCELED</span>

    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">format_paint</i>
      <span class="title">Title</span>
      <p class="inline">First Line <br>
         Second Line
      </p><span style="color: white;" class="badge blue secondary-content">CANCELED</span>

    </li>
</ul>
</template>


