<template name="newtask"><!--we might need class="validate" as required-->
{{#if currentUser}}
  <div id="taskform" class="form">
    <form class="setTask">

    Purchase Order Number:<input class="{{filler 'taskidnumber'}}" placeholder="" id="taskid" type="text" value="{{filler 'ponumber'}}">

        <div class="input-field col s6">
          <i class="material-icons prefix">date_range</i>
          <input placeholder="Date" id="date" type="text" class="datepicker" value="{{filler 'when'}}">
        </div><br>
        <div class="input-field col s6 inline">
          <i class="material-icons prefix">work</i>
          <input placeholder="Client" id="company" type="text" value="{{filler 'company'}}">
          </div>&nbsp;&nbsp;	<a class="btn-floating waves-effect waves-light grey addclient"><i class="material-icons">save</i></a>
        <br>
        <div class="input-field col s6">
          <i class="material-icons prefix">location_on</i>
          <input placeholder="Service Location" id="address" type="text" value="{{filler 'where'}}">
      </div><br>
        <div class="input-field col s6">
          <i class="material-icons prefix">web</i>
          <input placeholder="Contact" id="contact_info" type="text" value="{{filler 'contact'}}">
      </div><br>Type of Service
    <select class="browser-default" id="selectedService" name="jobtype">
      <option id="zero" value="{{filler 'type'}}">{{filler 'type'}}</option>
      <option id="one" value="Temporary Cleaning">Temporary Cleaning</option>
      <option id="two" value="Suite Turnover Cleaning">Suite Turnover Cleaning</option>
      <option id="three" value="Post Construction Cleaning">Post Construction Cleaning</option>
      <option id="four" value="General Labour">General Labour</option>
      <option id="five" value="Temporary Labour">Temporary Labour</option>
      <option id="three" value="Junk Removal">Junk Removal</option>
      <option id="three" value="Apartment Trashing">Apartment Trashing</option>
      <option id="three" value="Carpet Cleaning">Carpet Cleaning</option>
      <option id="three" value="Floor Maintenance">Floor Maintenance</option>
    </select>
    <br>Status: {{filler 'status'}}<select class="browser-default" id="status"><!--this should not be browser default-->
      <option value="{{filler 'status'}}">Choose New Status</option>
      <option value="Open">Open</option>
      <option value="Scheduled">Scheduled</option>
      <option value="In Progress">In Progress</option>
      <option {{disable currentUser.username}} value="Canceled">Canceled</option>
      <option {{disable currentUser.username}} value="Completed">Completed</option>
      <option {{disable currentUser.username}} value="Closed">Closed</option>
    </select>
{{> assign}}
  <button class="btn waves-effect waves-light" type="submit" name="action">Save
    <i class="material-icons right">send</i>
  </button>
	<div class="input-field col s12">
          <textarea placeholder="Comments" id="comments" class="materialize-textarea">{{filler 'description'}}</textarea>
        </div>
    </form>
  </div>
        <!--<div id="addclient" class="input-field inline">
          <input id="newname" type="text">
          <label for="newname">new client</label>
        </div><a class="btn-floating waves-effect waves-light red addclient"><i class="material-icons">add</i></a>-->
  {{> file}}
{{else}}
<h2>Not Logged In</h2>
<br><h4>go back</h4>
{{/if}}
</template>

<template name="file">
    <!--<h5>Picture</h5>-->
   {{#each linkfiller}}
    <a href="{{this}}" id="link">{{nameExtract this}}</a><br>
   {{/each}}
    <!--<p id="test">{{{linkarray}}}</p>-->
    <div class="file-field input-field inline">
      <div class="btn">
        <span>File</span>
        <input type="file" class="file_bag" id="file_bag">
      </div>
      <div class="file-path-wrapper">
        <input id="filename" class="file-path validate" type="text">
      </div>
    </div>
<a class="btn-floating btn-large waves-effect waves-light teal lighten-1 upload inline" onclick="Materialize.toast('File Uploaded', 3000)"><i class="material-icons">cloud_upload</i></a>
</template>

<template name="assign">
<!--<select class="browser-default" id="selectedClient">
{{#each client}}
      <option id="{{_id}}" value={{name}}>{{name}}</option>
{{/each}}
</select>-->
<br>
Manager
    <select class="browser-default" id="selectedManager"><!--this should not be browser default-->
      <option value="{{assignfiller 'assign'}}">{{assignfiller 'assign'}}</option>
{{#each manager}}<!-- {{else}}  dontrepeat 'selectedManager'-->
    {{#if dontrepeat username 'selectedManager'}}
      <option id="{{_id}}" value={{username}}>{{username}}</option>
    {{/if}}
{{/each}}
    </select>

</template>

